extends base.pug



block style 
    style 
        include ../static/style.css
        include ../static/classInfo.css

block content 
    #main 
        h1 Our Courses
        #Courses 
            div.container
                .contain-content 
                    h3 Design
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit hic quidem minus corrupti nulla!
                    button Learn More
            div.container
                .contain-content 
                    h3 Design
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit hic quidem minus corrupti nulla!
                    button Learn More
            div.container
                .contain-content 
                    h3 Design
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit hic quidem minus corrupti nulla!
                    button Learn More
            div.container
                .contain-content 
                    h3 Design
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit hic quidem minus corrupti nulla!
                    button Learn More
            
block scripts 
    script(src="'/static/index.js") 